@import "../layouts/styles/overwrites";

.hero {
  padding: 60px 30px;
  .title {
    font-family: "Poiret One", Arial, Helvetica, sans-serif;
  }
  .copy {
    max-width: 350px;
    padding: 30px;
  }

}
