@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Bootstrap Overwrites;
$font-family-base: "Nunito", Arial, Helvetica, sans-serif;
$body-bg: #FFF;
$highlight-color: #ee4920;
