@import "./styles/overwrites";

.logo {
  font-family: "Poiret One", Arial, Helvetica, sans-serif;
  .second {
    color: $highlight-color;
    display: none;
    &.active {
      display: inline-block;
    }
  }
}
