@import "./styles/overwrites";

.header {
  width: 100%;
  display: flex;
  padding: 80px;

  white-space: nowrap;
  justify-content: space-between;
}

// Thanks TO:
// https://github.com/codrops/LineMenuStyles
/* Common styles for all menus */
.menu {
  line-height: 1;
  font-size: $font-size-sm;
}

.menu__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: block;
  margin: 1em 0;
}

.menu__link {
  font-size: 1.05em;
  font-weight: bold;
  display: block;
  padding: 0.75em;
  user-select: none;
  text-decoration: none;
  color: $gray-600;
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
  text-decoration: none;
  color: $body-color;
}

/* Individual styles */

/* Alonso */
.menu--alonso .menu__item {
  margin: 0;
}

.menu--alonso .menu__link {
  width: 100px;
  height: 3em;
  text-align: center;
  transition: color 0.3s;
}

.menu--alonso .menu__item--current .menu__link {
  color: $highlight-color;
  transition: color 0.5s;
}

.menu--alonso .menu__line {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 2px;
  pointer-events: none;
  border: 1px solid $body-bg;
  border-width: 0 25px;
  background: $highlight-color;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}

.menu--alonso .menu__item:nth-child(1).menu__item--current ~ .menu__line {
  transform: translate3d(0, 0, 0);
}

.menu--alonso .menu__item:nth-child(2).menu__item--current ~ .menu__line {
  transform: translate3d(100%, 0, 0);
}

.menu--alonso .menu__item:nth-child(3).menu__item--current ~ .menu__line {
  transform: translate3d(200%, 0, 0);
}

.menu--alonso .menu__item:nth-child(4).menu__item--current ~ .menu__line {
  transform: translate3d(300%, 0, 0);
}

.menu--alonso .menu__item:nth-child(5).menu__item--current ~ .menu__line {
  transform: translate3d(400%, 0, 0);
}

@media screen and (max-width: 768px) {
  .menu--alonso .menu__line {
    top: 3em;
  }

  .menu--alonso .menu__item:nth-child(1).menu__item--current ~ .menu__line {
    transform: translate3d(0, 0, 0);
  }

  .menu--alonso .menu__item:nth-child(2).menu__item--current ~ .menu__line {
    transform: translate3d(0, 3em, 0);
  }

  .menu--alonso .menu__item:nth-child(3).menu__item--current ~ .menu__line {
    transform: translate3d(0, 6em, 0);
  }

  .menu--alonso .menu__item:nth-child(4).menu__item--current ~ .menu__line {
    transform: translate3d(0, 9em, 0);
  }

  .menu--alonso .menu__item:nth-child(5).menu__item--current ~ .menu__line {
    transform: translate3d(0, 12em, 0);
  }
}
