@import url('https://fonts.googleapis.com/css?family=Nunito|Poiret+One');
@import './styles/overwrites';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/images';

html,
body,
#__next,
.container,
.section,
.scroll-content {
  width: 100%;
  height: 100%;
  cursor: none;
}

html,
body,
#__next,
a {
  cursor: none;
}

#__next {
  overflow: hidden;
}

.scroll-content {
  overflow-y: scroll;
}

.custom-cursor.desktop {
  position: absolute;
  display: block;
  background-color: $highlight-color;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 9999;
}

.btn {
  display: inline-block;
  padding: 7px 14px;
}
